USE [master]
GO
/****** Object:  Database [dublinbikes]    Script Date: 4/19/2021 11:36:59 AM ******/
CREATE DATABASE [dublinbikes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dublinbikes', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dublinbikes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dublinbikes_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dublinbikes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dublinbikes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dublinbikes]
GO
/****** Object:  Table [dbo].[Bike_Rentals]    Script Date: 4/19/2021 11:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bike_Rentals](
	[Rental_ID] [int] NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Bike_ID] [int] NOT NULL,
	[Payment_ID] [int] NOT NULL,
	[Station_ID] [int] NOT NULL,
	[Start_Time] [varchar](50) NOT NULL,
	[End_Time] [varchar](50) NOT NULL,
	[Start_Station] [int] NOT NULL,
	[End_Station] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Rental_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bike_Status]    Script Date: 4/19/2021 11:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bike_Status](
	[B_Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[Bike_ID] [int] NOT NULL,
	[B_Status] [varchar](40) NOT NULL,
	[Last_Station] [int] NOT NULL,
	[Distance] [decimal](10, 2) NOT NULL,
	[Mileage] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[B_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bikes]    Script Date: 4/19/2021 11:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bikes](
	[Bike_ID] [int] NOT NULL,
	[Station_ID] [int] NOT NULL,
	[Model] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Bike_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Details]    Script Date: 4/19/2021 11:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Details](
	[Customer_ID] [int] NOT NULL,
	[Lname] [varchar](40) NOT NULL,
	[Fname] [varchar](40) NOT NULL,
	[Address] [varchar](40) NOT NULL,
	[County] [varchar](40) NOT NULL,
	[DOB] [date] NULL,
	[Joined] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/19/2021 11:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Customer_ID] [int] NOT NULL,
	[Username] [varchar](40) NOT NULL,
	[Pass_word] [varchar](40) NOT NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Old_Staff]    Script Date: 4/19/2021 11:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Old_Staff](
	[Old_Staff_ID] [int] IDENTITY(1,1) NOT NULL,
	[Staff_ID] [int] NOT NULL,
	[Lname] [varchar](40) NOT NULL,
	[Fname] [varchar](40) NOT NULL,
	[Address] [varchar](40) NOT NULL,
	[County] [varchar](40) NOT NULL,
	[Phone] [varchar](40) NOT NULL,
	[DOB] [date] NOT NULL,
	[Joined] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Old_Staff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_Method]    Script Date: 4/19/2021 11:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Method](
	[Method_ID] [int] NOT NULL,
	[Method] [varchar](40) NOT NULL,
	[Account_No] [varchar](40) NOT NULL,
	[Bank] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Subscription] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Method_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 4/19/2021 11:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Payment_ID] [int] NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Method_ID] [int] NOT NULL,
	[Rate] [decimal](10, 2) NOT NULL,
	[Date_stamp] [date] NOT NULL,
	[Time_stamp] [varchar](50) NOT NULL,
	[Amount] [decimal](7, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Repairs]    Script Date: 4/19/2021 11:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repairs](
	[Repair_ID] [int] NOT NULL,
	[B_Status_ID] [int] NOT NULL,
	[Staff_ID] [int] NOT NULL,
	[Delivered] [date] NOT NULL,
	[Price] [decimal](9, 2) NOT NULL,
	[Parts] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Repair_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 4/19/2021 11:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Staff_ID] [int] NOT NULL,
	[Lname] [varchar](40) NOT NULL,
	[Fname] [varchar](40) NOT NULL,
	[Address] [varchar](40) NOT NULL,
	[County] [varchar](40) NOT NULL,
	[Phone] [varchar](40) NOT NULL,
	[DOB] [date] NOT NULL,
	[Joined] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Staff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Station_Status]    Script Date: 4/19/2021 11:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Station_Status](
	[S_Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[Station_ID] [int] NOT NULL,
	[S_Status] [varchar](40) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Parking] [int] NOT NULL,
	[Bikes] [int] NOT NULL,
	[Updated] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[S_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stations]    Script Date: 4/19/2021 11:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations](
	[Station_ID] [int] NOT NULL,
	[Location] [varchar](40) NOT NULL,
	[Address] [varchar](40) NOT NULL,
	[Latitude] [decimal](9, 6) NOT NULL,
	[Longitude] [decimal](9, 6) NOT NULL,
	[Banking] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Station_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vans]    Script Date: 4/19/2021 11:37:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vans](
	[Licence_ID] [varchar](10) NOT NULL,
	[Station_ID] [int] NOT NULL,
	[Staff_ID] [int] NOT NULL,
	[Date_stamp] [date] NOT NULL,
	[Bikes] [int] NOT NULL,
	[Station_end] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Licence_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bike_Rentals] ([Rental_ID], [Customer_ID], [Bike_ID], [Payment_ID], [Station_ID], [Start_Time], [End_Time], [Start_Station], [End_Station]) VALUES (2, 2, 33, 2, 5, N'15:27', N'2:23 PM', 16, 2)
INSERT [dbo].[Bike_Rentals] ([Rental_ID], [Customer_ID], [Bike_ID], [Payment_ID], [Station_ID], [Start_Time], [End_Time], [Start_Station], [End_Station]) VALUES (3, 3, 11, 3, 7, N'15:19', N'1:13 PM', 6, 28)
INSERT [dbo].[Bike_Rentals] ([Rental_ID], [Customer_ID], [Bike_ID], [Payment_ID], [Station_ID], [Start_Time], [End_Time], [Start_Station], [End_Station]) VALUES (4, 4, 2, 4, 8, N'17:33', N'6:33 AM', 30, 26)
SET IDENTITY_INSERT [dbo].[Bike_Status] ON 

INSERT [dbo].[Bike_Status] ([B_Status_ID], [Bike_ID], [B_Status], [Last_Station], [Distance], [Mileage]) VALUES (1, 8, N'tertiary', 0, CAST(4.25 AS Decimal(10, 2)), CAST(21.64 AS Decimal(10, 2)))
INSERT [dbo].[Bike_Status] ([B_Status_ID], [Bike_ID], [B_Status], [Last_Station], [Distance], [Mileage]) VALUES (2, 4, N'support', 0, CAST(3.89 AS Decimal(10, 2)), CAST(34.70 AS Decimal(10, 2)))
INSERT [dbo].[Bike_Status] ([B_Status_ID], [Bike_ID], [B_Status], [Last_Station], [Distance], [Mileage]) VALUES (3, 10, N'bi-directional', 0, CAST(4.67 AS Decimal(10, 2)), CAST(40.41 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Bike_Status] OFF
INSERT [dbo].[Bikes] ([Bike_ID], [Station_ID], [Model]) VALUES (1, 7, CAST(N'2011-01-15' AS Date))
INSERT [dbo].[Bikes] ([Bike_ID], [Station_ID], [Model]) VALUES (2, 28, CAST(N'2012-08-28' AS Date))
INSERT [dbo].[Bikes] ([Bike_ID], [Station_ID], [Model]) VALUES (3, 6, CAST(N'2012-03-04' AS Date))
INSERT [dbo].[Customer_Details] ([Customer_ID], [Lname], [Fname], [Address], [County], [DOB], [Joined]) VALUES (2, N'Lane', N'Arthur', N'281 Northview Crossing', N'Ireland', CAST(N'1946-11-05' AS Date), CAST(N'2012-05-18' AS Date))
INSERT [dbo].[Customer_Details] ([Customer_ID], [Lname], [Fname], [Address], [County], [DOB], [Joined]) VALUES (3, N'Bailey', N'Carl', N'970 Lillian Drive', N'Ireland', CAST(N'1954-07-07' AS Date), CAST(N'2012-10-15' AS Date))
INSERT [dbo].[Customer_Details] ([Customer_ID], [Lname], [Fname], [Address], [County], [DOB], [Joined]) VALUES (4, N'Murray', N'Lori', N'148 Victoria Parkway', N'Ireland', CAST(N'1990-01-14' AS Date), CAST(N'2013-09-13' AS Date))
INSERT [dbo].[Customers] ([Customer_ID], [Username], [Pass_word], [Email], [Phone]) VALUES (2, N'swilliams0', N't2hlBwO5i2bT', N'jcoleman0@jalbum.net', N'7-(202)256-3821')
INSERT [dbo].[Customers] ([Customer_ID], [Username], [Pass_word], [Email], [Phone]) VALUES (3, N'bdean1', N'CCch4ln', N'jlane1@deviantart.com', N'86-(720)876-7624')
INSERT [dbo].[Customers] ([Customer_ID], [Username], [Pass_word], [Email], [Phone]) VALUES (4, N'jnelson2', N'1I7h500Y', N'mhicks2@yellowpages.com', N'51-(342)834-7891')
INSERT [dbo].[Payment_Method] ([Method_ID], [Method], [Account_No], [Bank], [Address], [Subscription]) VALUES (2, N'americanexpress', N'GB46 WZGX 5802 2377 9984 02', N'Jones-Ritchie', N'655 Butternut Alley', N'L')
INSERT [dbo].[Payment_Method] ([Method_ID], [Method], [Account_No], [Bank], [Address], [Subscription]) VALUES (3, N'jcb', N'SK70 1477 3896 9950 3644 4474', N'Muller, Treutel and Schmeler', N'8636 Sage Trail', N'L')
INSERT [dbo].[Payment_Method] ([Method_ID], [Method], [Account_No], [Bank], [Address], [Subscription]) VALUES (4, N'jcb', N'RO61 UVTO YY95 DZVR 45HJ GJLR', N'Flatley-Pfannerstill', N'65082 Warbler Hill', N'M')
INSERT [dbo].[Payments] ([Payment_ID], [Customer_ID], [Method_ID], [Rate], [Date_stamp], [Time_stamp], [Amount]) VALUES (2, 2, 2, CAST(3.13 AS Decimal(10, 2)), CAST(N'2004-04-23' AS Date), N'10:49', CAST(7.70 AS Decimal(7, 2)))
INSERT [dbo].[Payments] ([Payment_ID], [Customer_ID], [Method_ID], [Rate], [Date_stamp], [Time_stamp], [Amount]) VALUES (3, 3, 3, CAST(3.15 AS Decimal(10, 2)), CAST(N'2010-09-22' AS Date), N'21:00', CAST(3.01 AS Decimal(7, 2)))
INSERT [dbo].[Payments] ([Payment_ID], [Customer_ID], [Method_ID], [Rate], [Date_stamp], [Time_stamp], [Amount]) VALUES (4, 4, 4, CAST(3.10 AS Decimal(10, 2)), CAST(N'2011-03-09' AS Date), N'20:42', CAST(5.69 AS Decimal(7, 2)))
GO
INSERT [dbo].[Repairs] ([Repair_ID], [B_Status_ID], [Staff_ID], [Delivered], [Price], [Parts]) VALUES (334, 33, 125, CAST(N'2016-04-02' AS Date), CAST(4.06 AS Decimal(9, 2)), 13)
INSERT [dbo].[Repairs] ([Repair_ID], [B_Status_ID], [Staff_ID], [Delivered], [Price], [Parts]) VALUES (335, 21, 131, CAST(N'2015-03-08' AS Date), CAST(3.01 AS Decimal(9, 2)), 9)
INSERT [dbo].[Repairs] ([Repair_ID], [B_Status_ID], [Staff_ID], [Delivered], [Price], [Parts]) VALUES (336, 43, 128, CAST(N'2016-08-04' AS Date), CAST(3.38 AS Decimal(9, 2)), 3)
GO
INSERT [dbo].[Staff] ([Staff_ID], [Lname], [Fname], [Address], [County], [Phone], [DOB], [Joined]) VALUES (125, N'Gibson', N'Pamela', N'946 Little Fleur Circle', N'Texíguat', N'504-(594)339-7184', CAST(N'1952-10-29' AS Date), CAST(N'2004-10-21' AS Date))
INSERT [dbo].[Staff] ([Staff_ID], [Lname], [Fname], [Address], [County], [Phone], [DOB], [Joined]) VALUES (126, N'Rose', N'Larry', N'6532 Bluejay Court', N'Vinh Tu?ng', N'84-(788)551-9913', CAST(N'1982-10-22' AS Date), CAST(N'1999-08-28' AS Date))
INSERT [dbo].[Staff] ([Staff_ID], [Lname], [Fname], [Address], [County], [Phone], [DOB], [Joined]) VALUES (127, N'Torres', N'Jessica', N'150 Norway Maple Pass', N'Trondheim', N'47-(455)311-5431', CAST(N'1968-04-05' AS Date), CAST(N'2008-01-29' AS Date))
INSERT [dbo].[Stations] ([Station_ID], [Location], [Address], [Latitude], [Longitude], [Banking]) VALUES (1, N'Parker', N'William', CAST(22.650000 AS Decimal(9, 6)), CAST(93.616670 AS Decimal(9, 6)), 1)
INSERT [dbo].[Stations] ([Station_ID], [Location], [Address], [Latitude], [Longitude], [Banking]) VALUES (2, N'Mitchell', N'Clarence', CAST(-24.885000 AS Decimal(9, 6)), CAST(28.294170 AS Decimal(9, 6)), 1)
INSERT [dbo].[Stations] ([Station_ID], [Location], [Address], [Latitude], [Longitude], [Banking]) VALUES (3, N'Sanders', N'Lisa', CAST(23.575540 AS Decimal(9, 6)), CAST(116.147330 AS Decimal(9, 6)), 0)
INSERT [dbo].[Vans] ([Licence_ID], [Station_ID], [Staff_ID], [Date_stamp], [Bikes], [Station_end]) VALUES (N'AR-690-m', 27, 130, CAST(N'2015-04-25' AS Date), 15, N'12')
INSERT [dbo].[Vans] ([Licence_ID], [Station_ID], [Staff_ID], [Date_stamp], [Bikes], [Station_end]) VALUES (N'AY-377-y', 28, 128, CAST(N'2016-01-01' AS Date), 15, N'14')
INSERT [dbo].[Vans] ([Licence_ID], [Station_ID], [Staff_ID], [Date_stamp], [Bikes], [Station_end]) VALUES (N'BM-427-i', 30, 129, CAST(N'2016-03-04' AS Date), 18, N'5')
/****** Object:  Index [Bike_FK_rent]    Script Date: 4/19/2021 11:37:01 AM ******/
CREATE NONCLUSTERED INDEX [Bike_FK_rent] ON [dbo].[Bike_Rentals]
(
	[Bike_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Customer_FK_rent]    Script Date: 4/19/2021 11:37:01 AM ******/
CREATE NONCLUSTERED INDEX [Customer_FK_rent] ON [dbo].[Bike_Rentals]
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Payment_FK_rent]    Script Date: 4/19/2021 11:37:01 AM ******/
CREATE NONCLUSTERED INDEX [Payment_FK_rent] ON [dbo].[Bike_Rentals]
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Station_FK_rent]    Script Date: 4/19/2021 11:37:01 AM ******/
CREATE NONCLUSTERED INDEX [Station_FK_rent] ON [dbo].[Bike_Rentals]
(
	[Station_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Bike_FK_status]    Script Date: 4/19/2021 11:37:01 AM ******/
CREATE NONCLUSTERED INDEX [Bike_FK_status] ON [dbo].[Bike_Status]
(
	[Bike_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Station_FK_bikes]    Script Date: 4/19/2021 11:37:01 AM ******/
CREATE NONCLUSTERED INDEX [Station_FK_bikes] ON [dbo].[Bikes]
(
	[Station_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Staff_FK_old]    Script Date: 4/19/2021 11:37:01 AM ******/
CREATE NONCLUSTERED INDEX [Staff_FK_old] ON [dbo].[Old_Staff]
(
	[Staff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Payments_FK_customer]    Script Date: 4/19/2021 11:37:01 AM ******/
CREATE NONCLUSTERED INDEX [Payments_FK_customer] ON [dbo].[Payments]
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Payments_FK_method]    Script Date: 4/19/2021 11:37:01 AM ******/
CREATE NONCLUSTERED INDEX [Payments_FK_method] ON [dbo].[Payments]
(
	[Method_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [B_Status_FK_repair]    Script Date: 4/19/2021 11:37:01 AM ******/
CREATE NONCLUSTERED INDEX [B_Status_FK_repair] ON [dbo].[Repairs]
(
	[B_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Staff_FK_repair]    Script Date: 4/19/2021 11:37:01 AM ******/
CREATE NONCLUSTERED INDEX [Staff_FK_repair] ON [dbo].[Repairs]
(
	[Staff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Station_FK]    Script Date: 4/19/2021 11:37:01 AM ******/
CREATE NONCLUSTERED INDEX [Station_FK] ON [dbo].[Station_Status]
(
	[Station_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Staff_FK]    Script Date: 4/19/2021 11:37:01 AM ******/
CREATE NONCLUSTERED INDEX [Staff_FK] ON [dbo].[Vans]
(
	[Staff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Station_FK_van]    Script Date: 4/19/2021 11:37:01 AM ******/
CREATE NONCLUSTERED INDEX [Station_FK_van] ON [dbo].[Vans]
(
	[Station_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bike_Status] ADD  DEFAULT ('Operational') FOR [B_Status]
GO
ALTER TABLE [dbo].[Bike_Status] ADD  DEFAULT ('0') FOR [Last_Station]
GO
ALTER TABLE [dbo].[Bike_Status] ADD  DEFAULT ('10') FOR [Distance]
GO
ALTER TABLE [dbo].[Bike_Status] ADD  DEFAULT ('0') FOR [Mileage]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (NULL) FOR [Email]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (NULL) FOR [Phone]
GO
ALTER TABLE [dbo].[Station_Status] ADD  DEFAULT (getdate()) FOR [Updated]
GO
ALTER TABLE [dbo].[Bike_Rentals]  WITH CHECK ADD  CONSTRAINT [Bike_FK_rent] FOREIGN KEY([Bike_ID])
REFERENCES [dbo].[Bikes] ([Bike_ID])
GO
ALTER TABLE [dbo].[Bike_Rentals] CHECK CONSTRAINT [Bike_FK_rent]
GO
ALTER TABLE [dbo].[Bike_Rentals]  WITH CHECK ADD  CONSTRAINT [Customer_FK_rent] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customers] ([Customer_ID])
GO
ALTER TABLE [dbo].[Bike_Rentals] CHECK CONSTRAINT [Customer_FK_rent]
GO
ALTER TABLE [dbo].[Bike_Rentals]  WITH CHECK ADD  CONSTRAINT [Payment_FK_rent] FOREIGN KEY([Payment_ID])
REFERENCES [dbo].[Payments] ([Payment_ID])
GO
ALTER TABLE [dbo].[Bike_Rentals] CHECK CONSTRAINT [Payment_FK_rent]
GO
ALTER TABLE [dbo].[Bike_Rentals]  WITH CHECK ADD  CONSTRAINT [Station_FK_rent] FOREIGN KEY([Station_ID])
REFERENCES [dbo].[Stations] ([Station_ID])
GO
ALTER TABLE [dbo].[Bike_Rentals] CHECK CONSTRAINT [Station_FK_rent]
GO
ALTER TABLE [dbo].[Bike_Status]  WITH CHECK ADD  CONSTRAINT [Bike_FK_status] FOREIGN KEY([Bike_ID])
REFERENCES [dbo].[Bikes] ([Bike_ID])
GO
ALTER TABLE [dbo].[Bike_Status] CHECK CONSTRAINT [Bike_FK_status]
GO
ALTER TABLE [dbo].[Bikes]  WITH CHECK ADD  CONSTRAINT [Station_FK_bikes] FOREIGN KEY([Station_ID])
REFERENCES [dbo].[Stations] ([Station_ID])
GO
ALTER TABLE [dbo].[Bikes] CHECK CONSTRAINT [Station_FK_bikes]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer_Details] ([Customer_ID])
GO
ALTER TABLE [dbo].[Old_Staff]  WITH CHECK ADD  CONSTRAINT [Staff_FK_OLD] FOREIGN KEY([Staff_ID])
REFERENCES [dbo].[Staff] ([Staff_ID])
GO
ALTER TABLE [dbo].[Old_Staff] CHECK CONSTRAINT [Staff_FK_OLD]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [Payments_FK_customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customers] ([Customer_ID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [Payments_FK_customer]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [Payments_FK_method] FOREIGN KEY([Method_ID])
REFERENCES [dbo].[Payment_Method] ([Method_ID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [Payments_FK_method]
GO
ALTER TABLE [dbo].[Repairs]  WITH CHECK ADD  CONSTRAINT [B_Status_FK_repair] FOREIGN KEY([B_Status_ID])
REFERENCES [dbo].[Bike_Status] ([B_Status_ID])
GO
ALTER TABLE [dbo].[Repairs] CHECK CONSTRAINT [B_Status_FK_repair]
GO
ALTER TABLE [dbo].[Repairs]  WITH CHECK ADD  CONSTRAINT [Staff_FK_repair] FOREIGN KEY([Staff_ID])
REFERENCES [dbo].[Staff] ([Staff_ID])
GO
ALTER TABLE [dbo].[Repairs] CHECK CONSTRAINT [Staff_FK_repair]
GO
ALTER TABLE [dbo].[Station_Status]  WITH CHECK ADD  CONSTRAINT [Station_FK] FOREIGN KEY([Station_ID])
REFERENCES [dbo].[Stations] ([Station_ID])
GO
ALTER TABLE [dbo].[Station_Status] CHECK CONSTRAINT [Station_FK]
GO
ALTER TABLE [dbo].[Vans]  WITH CHECK ADD  CONSTRAINT [Staff_FK] FOREIGN KEY([Staff_ID])
REFERENCES [dbo].[Staff] ([Staff_ID])
GO
ALTER TABLE [dbo].[Vans] CHECK CONSTRAINT [Staff_FK]
GO
ALTER TABLE [dbo].[Vans]  WITH CHECK ADD  CONSTRAINT [Station_FK_van] FOREIGN KEY([Station_ID])
REFERENCES [dbo].[Stations] ([Station_ID])
GO
ALTER TABLE [dbo].[Vans] CHECK CONSTRAINT [Station_FK_van]
GO
USE [master]
GO
